
footer.site-footer.section.vr
  .section__text
    .footer-col
      h2.footer-heading Company Address
      p
        | 5055 Old Ellis Pt Ste C3,
        br
        | Roswell, GA 30076
      
      a(href="https://goo.gl/maps/Zc51RFEqx9K1JSDB9" rel="noopener noreferrer" target="_blank")
        | Directions

    .footer-col
      h2.footer-heading Contact Us
      ul(style="padding:0;list-style-position: inside;margin: 0;")
        li Phone:
          | 
          a(href="tel:+17705744025" rel="noopener noreferrer" target="_blank") (770) 574-4025
        li Email:
          | 
          a(href="mailto:office@nphvac.com" rel="noopener noreferrer" target="_blank") office@nphvac.com
        li Website:
          | 
          a(href="https://www.nphvac.com" rel="noopener noreferrer" target="_blank") https://www.nphvac.com
    
    .footer-col
      h2.footer-heading Authorized Carrier Dealer
      picture
        // YAAAY AVIF!!!
        source(type="image/avif" srcset="/img/Carrier-Badge.avif")

        // Yay Webp...
        source(type="image/webp" srcset="/img/Carrier-Badge.webp")

        // Disgusting. Get a better browser. https://caniuse.com/?search=avif
        img(src="/img/Carrier-Badge.png" alt="Factory authorized dealer badge" defer)

    .footer-col
      h2.footer-heading Copyright
      p &copy; <span id="date"></span> North Point Heating and Air Conditioning
      div(style="display: inline-block;width: min-content;")
        
    .footer-col
      h2.footer-heading Links
      ul(style="padding:0;list-style-position: inside;margin: 0")
        li
          a(href="/sitemap.xml" target="_blank") Sitemap    
        li
          a(href="/privacy") Privacy Policy
        li
          a(href="/feedback") Leave a review

script.
  'use strict';
  
  const date = 2020;

  const currentYear = (new Date()).getFullYear().toString();

  document.getElementById('date').innerHTML = date.toString() === currentYear ? currentYear : `${date} - ${currentYear}`;