{{#*inline "content"}}
  <div class="spacer spacer__large vr"></div>
    <div class="section vr">
      <div class="section__text">
        <h1>Failure</h1>
        <p>Sorry! Something went wrong and your letter was not sent. Please try again later!</p>
        <p>
          In the meantime, feel free to&#32;<a href="/">return home</a>.</p>
      </div>
    </div>
{{/inline}}
{{~> layouts/main~}}