{{#*inline "content"}}
  <div class="hero">
    <div class="hero__text">
      <h1>Zachary Montgomery</h1>
      <h3><a href="/web">Web Designer</a>. <a href="/thoughts">Aimless Rambler</a>.</h3>
      <img src="/img/png/selfie.jpeg" alt="" class="selfie">
    </div>
  </div>
{{/inline}}
{{~> layouts/main~}}