{{#*inline "content"}}
  <div class="spacer spacer__large vr"></div>
    <div class="section vr">
      <div class="section__text">
        <h1>Success</h1>
        <p>Your letter was sent. Thank you, I'll get back to you as soon as I can!</p>
        <p>
          In the meantime, feel free to&#32;<a href="/">return home</a>.</p>
      </div>
    </div>
{{/inline}}
{{~> layouts/main~}}