extends layout

block content
  div#app.blue-purple
    div#wrapper
      h1(data-text="under").glitch under
      h1(data-text="construction" style="float:right").glitch construction
      span.sub Zachary
      span.sub Montgomery