extends layout

block content
  .hero
    .section__text
      h2 Zachary Montgomery

  .section
    .section__text
      h4.purple Web Development
      h2 Casual and Professional Work 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vero doloribus iusto necessitatibus corporis dolorem magnam minus quaerat reprehenderit aperiam.

    hr

    .section__text
      h4.purple Web Development
      h2 Casual and Professional Work 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vero doloribus iusto necessitatibus corporis dolorem magnam minus quaerat reprehenderit aperiam.

    hr

    .section__text
      h4.purple Conlang
      h2 A Language of Efficiency 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos vero doloribus iusto necessitatibus corporis dolorem magnam minus quaerat reprehenderit aperiam.